
.grid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
}

.grid-template-rows-1 {
	grid-template-rows: 101px 80px 80px 80px 80px 80px;
}


.item {
    position: relative;
	margin: 5px;
	background: #83ff31;
	text-align: center;
	font-size: 2rem;
    border: 1px solid black;
    cursor: pointer;
}

.item:not(:first-child):hover{
    background: #53743d;
}

.grid {
    background: grey;
	max-width: 400px;
	margin: 0 auto;
	border: 10px  solid grey;
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
	padding-bottom: 60px;
	margin: 0px;
}

body {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}


.b-white{
    background: white;
}

.span-2{
    grid-column: span 2;
}
.span-4{
    grid-column: span 4;
}

.extend{
    grid-row-start: 5;
    grid-row-end: 7;
}

.mb-2{
    margin-bottom: 20px;
}

.center-text-vertical{
    position: absolute;
    top: 18%;
    right: 38%
}

.center-text-vertical-small{
    position: absolute;
    top: -26%;
    right: 38%;
}

.center-text-vertical-vertical-small{
    position: absolute;
    top: -21%;
    right: 38%;
}