@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');


main{
    border-radius: 20px;

}
*::selection{
    background-color: rgb(48,43,59);
    color: white;
}


.grid {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
}

.grid-template-rows-1 {
	grid-template-rows: 101px 80px 80px 80px 80px 80px;
}


.item {
    font-family: 'Roboto', sans-serif;
    position: relative;
	margin: 5px;
	/*background: #83ff31;*/
	text-align: center;
	font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.grid {
    /*background: grey;*/
	max-width: 400px;
	margin: 0 auto;
    padding: 10px;
	/*border: 10px  solid grey;*/
    background: rgb(48,43,59);
    background: linear-gradient(180deg, rgba(48,43,59,1) 0%, rgba(47,42,58,1) 47%, rgba(45,43,55,1) 100%);
}

h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	
	padding-bottom: 60px;
	margin: 0px;
}

body {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}


.b-white{
    background: white;
}

.b-grey{
    background: #bfbfc1;
}
.b-grey:hover{
    background: rgb(48,43,59);
    color: white;
}

.b-deafult{
    background: transparent;
    color: white;
}

.b-deafult::selection{
    background-color: rgb(48,43,59);
    color: white;
}

.b-deafult:hover{
    background: #bfbfc1;
    color: black;
}

.span-2{
    grid-column: span 2;
}
.span-4{
    grid-column: span 4;
}

.extend{
    grid-row-start: 5;
    grid-row-end: 7;
}

.mb-2{
    margin-bottom: 20px;
}

.center-text-vertical{
    position: absolute;
    top: 18%;
    right: 38%
}

.center-text-vertical-small{
    position: absolute;
    top: -26%;
    right: 38%;
}

.center-text-vertical-vertical-small{
    position: absolute;
    top: -21%;
    right: 38%;
}

.calculator-visor{
    padding-top: 14px;
}